<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register | Chhath Puja</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>
<div class="register-container">
    <h2>User Registration</h2>

    <form th:action="@{/register}" th:object="${user}" method="post">
        <div>
            <label>Name:</label>
            <input type="text" th:field="*{name}" required>
        </div>

        <div>
            <label>Email:</label>
            <input type="email" th:field="*{email}" required>
        </div>

        <div>
            <label>Phone:</label>
            <input type="text" th:field="*{phone}" required>
        </div>

        <div>
            <label>Date of Birth:</label>
            <input type="date" th:field="*{dateOfBirth}" required>
        </div>

        <div>
            <label>Room Number:</label>
            <input type="text" th:field="*{roomNumber}">
        </div>

        <div>
            <label>Colony Name:</label>
            <input type="text" th:field="*{colonyName}">
        </div>

        <button type="submit">Register</button>
    </form>
    <div th:if="${error}" class="alert error" th:text="${error}"></div>
</div>


</body>
</html>
